@import "../styles/colors";



.main{
    min-height: 100vh;
    background-image: url("../../public/background-Projects.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 4rem;
    padding: 2rem;
}



.godText{
    max-width: 80vw;
    transition: 2s;
    border-radius: 1rem;
    padding: 1rem;
    color: white;
    h1{
        font-family: Oxanium,Arial, Helvetica, sans-serif;
    }
}

.downText{
    max-width: 80vw;
    transition: 2s;
    border-radius: 1rem;
    padding: 1rem;
    color: white;

    h1{
        font-family: Oxanium,Arial, Helvetica, sans-serif;
    }

}

.textHoverEffect {
    font-size: 3rem;
    font-weight: bold;
    color: white;
    background-image: linear-gradient(to right, transparent 0%, transparent 50%, white 50%, white 100%);
    background-size: 200% 100%;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  }
  
  .animateOnce {
    animation: textColorChange 3.5s ease-in-out forwards;
  }
  
  @keyframes textColorChange {
    0% {
      background-position: 0% 0;
    }
    100% {
      background-position: -100% 0;
    }
  }
  

  .whiteAfter{
    color: white;
  }

  .main2{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $violet;
    min-height: 100vh;
}

.projectsContainer{
  margin: 3rem;
  display: grid;
  align-self: center;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: auto;
  gap: 2rem;
  max-width: 90vw;
}

.h1Name{
 padding: 4rem;
  text-align: center;
  font-family: Oxanium,Arial, Helvetica, sans-serif;
  font-size: 3rem;
  font-weight: 900;
}

.transition{
  background-color: $violet;
}